table {

	width: 500px;
	height: 500px;

}

td {
    text-align: center;
    width: 50px;
    height: 50px;
}
button {
    margin-left: 10px
}
.cont {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    height: 1000px;
}